<footer>
    <div class="footer-container">
        <p>Copyright © Barter.it, 2021</p>
        <div class="logo-container">
            <img src="/system-images/footer_logo.svg" alt="footer-logo" class="svg-logo">
        </div>
    </div>
</footer>