<header>
    <div class="header-container">
        <div class="brand">
            <div class="logo-container">
                <img src="/system-images/brand.svg" alt="logo" class="svg-logo">
            </div>
            <a href="/">Barter<span>IT</span></a>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/marketplace">Marketplace</a></li>
                <li><a href="/login" class="cta">Sign in</a></li>
            </ul>
        </nav>
    </div>
</header>