<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barterit | <%= title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f7e18a83ab.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <script async src="/script.js"></script>
</head>