<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <!-- Header -->
    <%- include('./partials/header.ejs') %>
    <!-- /Header -->

    <main>
        <h1>404 not found!</h1>
    </main>
    
    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
    <!-- /Footer -->
</body>
</html>