<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <!-- Header -->
    <%- include('./partials/header.ejs') %>
    <!-- /Header -->

    <!-- Hero Banner-->
    <main class="index-main">
        <div class="hero-container">
            <img src="/system-images/converse.png" alt="hero-image" class="hero-image1">
        </div>
    </main>
    <!-- /Hero Banner-->

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
    <!-- /Footer -->
</body>
</html>